motif-count			: 4
initial-random-count: 50
iterations-count	: 500
input-seq-file		: Project2Seqs.fa
#Comments

Please do not remove any lines. Edit the values on the right side of the colon ':' for setting the parameters.
The program can automatically detect whether the strings are DNA or AA sequences.
The AA sequences should be long enough as pseudocounts are used.
At a given instance of time, all the strings should be either DNA or AA.
